<h1 class="text-center">Conversations</h1>

<%= render partial: "conversations/form" %>

<br/><br/>

<form class="form-inline" role="form">
    <div class="row" style="margin: 0px 20px 0px 20px">
        <div class="col-xs-11">
            <%= render partial: "location_fields", locals: { show_isp_selector: true } %>
        </div>
        <div class="col-xs-1">
            <button id="search" type="button" class="btn btn-default">Search</button>
        </div>
    </div>
</form>

<div class="container" style="margin: 20px;">
  <p id="breadcrumbs">
    All Conversations
  </p>
  <div id="conversation-list" class="col-md-12" style="padding: 30px">
    <%= render partial: "conversations" %>
  </div>
</div>

<script type="text/javascript">
  $('#search').click(function(){
    $.ajax({
      url: "<%= conversations_update_path %>",
      type: "post",
      data: {
        province_id: $('#province_id').val(),
        city_id: $('#city_id').val(),
        isp_company_id: $('#isp_company_id').val()
      }
    }).done(function( data ) {
    }).fail(function(jqXHR, msg) {
      console.log( "error " + msg);
    });

    var s1 = document.getElementById("province_id");
    var province = s1.options[s1.selectedIndex].text;
    var s2 = document.getElementById('city_id');
    var city = s2.options[s2.selectedIndex].text;
    var s3 = document.getElementById('isp_company_id');
    var isp = s3.options[s3.selectedIndex].text;

    var breadcrumb;
    if( province != "Province" && province != "" )
    {
      breadcrumb = province;
      if( city != "City" && city != "" )
      {
        breadcrumb = breadcrumb + "/" + city;
      }
      if( isp != "ISP" && isp != "" )
      {
        breadcrumb = breadcrumb + "/" + isp;
      }
    }
    else if( isp != "ISP" && isp != "" )
    {
      breadcrumb = isp;
    }
    else
    {
      breadcrumb = "All Conversations"
    }
    document.getElementById('breadcrumbs').innerHTML = breadcrumb;
  });
</script>
