<h1 class="text-center">Conversations</h1>

<form class="form-inline" role="form">
    <div class="row">
        <div class="col-xs-11">
            <div class="input-group">
                <div class="input-group-btn">
                    <%= select_tag "Province", options_from_collection_for_select(Province.all, "id", "name"), class: "form-control" %>
                    <%= select_tag "City", options_from_collection_for_select(City.all, "id", "name"), class: "form-control" %>
                    <%= select_tag "ISP", options_from_collection_for_select(IspCompany.all, "id", "name"), class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-1">
            <button type="button" class="btn btn-default">Search</button>
        </div>
    </div>
</form>

<div class="panel" style="margin: 20px;">
City / ISP
  <div class="panel-body" style="padding: 30px">
    
    <div class="panel" style="background-color: #EEE; color: #333;">
      Ontario/Guelph/TekSavvy
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-8">
            <p><a href="http://bulbapedia.bulbagarden.net">[Q] How would you rate your satisfaction with TekSavvy?</a></p>
          </div>
          <div class="col-xs-4">
            <p style="text-align: right;">User: Gary &nbsp&nbsp&nbsp&nbsp Submitted: 06/11/2014 8:56am</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel" style="background-color: #EEE; color: #333;">
      Ontario/Guelph/TekSavvy
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-8">
            <p><a href="http://4chan.org">[NSFW] This is what I think of TekSavvy</a></p>
          </div>
          <div class="col-xs-4">
            <p style="text-align: right;">User: CockGobbler &nbsp&nbsp&nbsp&nbsp Submitted: 06/11/2014 4:20am</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

