<div class="container">
  <div class="col-md-12" style="padding-bottom:50px">

    <%= render partial: "location_form" %>

    <h4>Select ISP searching criteria (optional)</h4>
    <div id="recommendation-section">
      <%= render partial: "recommendations/form", locals: { city: City.find_by(name: "Guelph") } %>
      <div id="recommendation">
      </div>
    </div>
  </div>
  
  <div class="col-md-3">
    <div id="country_isp_list">
    </div>
  </div>
  <div class="col-md-6 text-center">
    <div id="map-canvas">
        <!-- <iframe
          width="530"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCMrYKmbRwYQQwao9qgyBbo_BnaLdCdwRg
            &q=Guelph">
        </iframe> -->
    </div>
  </div>
  <div class="col-md-3">
    <div id="city_isp_list">
    </div>
  </div>

</div>
  <div class="container text-center">
    <canvas id="myChart" width="580" height="400"></canvas>
  </div>