
<div class="container">
  <div class="row">
    <p class="well">You can edit this page in app/views/presenter/home_page.html.erb</p>

	<form class="form-inline" role="form">
        <div class="row">
            <div class="col-xs-6">
                <label>Please enter your location: </label>
                <div class="input-group">
                    <div class="input-group-btn">
                        <%= select_tag "Province", options_from_collection_for_select(Province.all, "id", "name"), class: "form-control" %>
                        <%= select_tag "City", options_from_collection_for_select(City.all, "id", "name"), class: "form-control" %>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <h4>Select ISP searching criteria (optional)</h4>
    <div id="recommendation-section">
      <%= render partial: "recommendations/form", locals: { city: City.find_by(name: "Guelph") } %>
      <div id="recommendation">
      </div>
    </div>
    <div id="isp_list">
    </div>	
  </div>
</div>  