<div class="container">
  <div class="col-md-12" style="padding-bottom:50px">

	<form class="form-inline" role="form">
        <div class="row">
            <div class="col-xs-6">
                <label>Please enter your location: </label>
                <div class="input-group">
                    <div class="input-group-btn">
                        <%= select_tag "Province", options_from_collection_for_select(Province.all, "id", "name"), class: "form-control" %>
                        <%= select_tag "City", options_from_collection_for_select(City.all, "id", "name"), class: "form-control" %>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <h4>Select ISP searching criteria (optional)</h4>
    <div id="recommendation-section">
      <%= render partial: "recommendations/form", locals: { city: City.find_by(name: "Guelph") } %>
      <div id="recommendation">
      </div>
    </div>
  </div>
  
  <div class="col-md-3">
    <div id="country_isp_list">
    </div>
  </div>
  <div class="col-md-6 text-center">
    <div id="map-canvas">
        <!-- <iframe
          width="530"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCMrYKmbRwYQQwao9qgyBbo_BnaLdCdwRg
            &q=Guelph">
        </iframe> -->
    </div>
  </div>
  <div class="col-md-3">
    <div id="city_isp_list">
    </div>
  </div>
</div>