<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-ecd251f-cbc7-68d4-bd24-b3ff09b723d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<div class="element-animation text-center bordered">
    <% if @isp %>
        <h2><%= @isp.isp_company.name %></h2>
        <div class="row">
            <div class="col-md-4">
                <div class="pull-left">
                Price:
                </div>
                <%= number_to_currency @isp.cable_price %>
            </div>
            <div class="col-md-4">
                <div class="pull-left">
                    Maximum Download Speed Measured:
                </div>
                <%= number_to_human(to_mbps(@isp.max_download_kbps)) %> Mbps
            </div>
            <div class="col-md-4">
                <div class="pull-left">
                    Average Download Speed Measured:
                </div>
                <%= number_to_human(to_mbps(@isp.avg_download_kbps)) %> Mbps
            </div>
        </div>
        <p>
            <span class='st_sharethis_large' displayText='ShareThis'></span>
            <span class='st_facebook_large' displayText='Facebook'></span>
            <span class='st_twitter_large' displayText='Tweet'></span>
            <span class='st_linkedin_large' displayText='LinkedIn'></span>
            <span class='st_pinterest_large' displayText='Pinterest'></span>
            <span class='st_email_large' displayText='Email'></span>
        </p>
    <% else %>
        <p>No ISPs found with those criteria in your city. Please try again.</p>
    <% end %>
</div>
