<div class="element-animation text-center">
    <h2><%= @isp.isp_company.name %></h2>
    <div class="col-md-4">
        <div class="pull-left">
        Price:
        </div>
        <%= number_to_currency @isp.cable_price %>
    </div>
    <div class="col-md-4">
        <div class="pull-left">
            Maximum Download Speed Measured:
        </div>
        <%= number_to_human(to_mbps(@isp.max_download_kbps)) %> Mbps
    </div>
    <div class="col-md-4">
        <div class="pull-left">
            Average Download Speed Measured:
        </div>
        <%= number_to_human(to_mbps(@isp.avg_download_kbps)) %> Mbps
    </div>
</div>