<table class="table table-bordered text-center">
<thead><tr><th class="text-center"><%= @ranking_list_name %></th></tr></thead>
<% @isp_list.each do |isp| %>
  <tr><td><%= isp.name %></td></tr>
<% end %>