$background: #202020;
$textcolor: #E0E0E0;
$orange: #FF6600;
$grey: #404040;

h1 { color: $orange; }

body { color: $textcolor;
background-color: $background; }

.navbar { background-color: $grey; }

.well { background-color: $grey; }
.panel { background-color: $grey; }
